react-spring-boot/client/node_modules
react-spring-boot/client/build
react-spring-boot/client/npm-debug.log
react-spring-boot/client/.tests.executed
react-spring-boot/client/build_packageYarnApp

react-spring-boot/service/.gradle
react-spring-boot/service/build
react-spring-boot/service/out

.build
.gradle
.idea